---
const slides = [
    {
        for: 's1',
        id: 'slide1',
        plan: 'Master',
        monthly: '39.99',
        annually: '399.99',
        storage: '2 TB Storage',
        users: '10 Users Allowed',
        limit: 'Send up to 20 GB'
    },
    {
        for: 's2',
        id: 'slide2',
        plan: 'Basic',
        monthly: '19.99',
        annually: '199.99',
        storage: '500 GB Storage',
        users: '2 Users Allowed',
        limit: 'Send up to 3 GB'
    },
    {
        for: 's3',
        id: 'slide3',
        plan: 'Professional',
        monthly: '24.99',
        annually: '249.99',
        storage: '1 TB Storage',
        users: '5 Users Allowed',
        limit: 'Send up to 10 GB'
    }
]
---

{slides.map(slide => (
    // <input type="radio" name="slider" id={slide.idAndFor} checked>
    
    <label for={slide.for} id={slide.id}>
        <div class="card">
            <h2>{slide.plan}</h2>
            <div class="price">
                <span class="dollar-sign">$</span>
                <span class="digits monthly">{slide.monthly}</span>
                <span class="digits annually">{slide.annually}</span>
            </div>
    
            <h3>{slide.storage}</h3>
            <h3>{slide.users}</h3>
            <h3 class="last-child">{slide.limit}</h3>
    
            <button class="cta">Learn More</button>
        </div>
    </label>
))}


<style>
    input {
        display: none;
    }

    .monthly {
        display: block;
    }
    .annually {
        display: none;
    }

    .card {
        background-color: var(--Very-Light-Grayish-Blue);
        padding: 2.5rem 2rem;
        text-align: center;
        color: var(--Grayish-Blue);
        border-radius: 1rem;
        width: 100%;
        max-width: 25rem;
        margin-bottom: 3rem;
        margin-inline: auto;
        perspective: 1000px;
        transform-style: preserve-3d;
    }

    h2 {
        font-size: 1.25rem;
    }

    .price {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-block: 1.25rem 2.5rem;
        margin: 1.25rem 0;
        color: var(--Dark-Grayish-Blue);
    }

    .dollar-sign {
        font-size: 2.5rem;
    }

    .digits {
        font-size: 4.75rem;
    }

    h3 {
        font-size: 1rem;
        padding-block: 1.25rem;
        border-top: 1px solid var(--Light-Grayish-Blue);
    }

    .last-child {
        border-bottom: 1px solid var(--Light-Grayish-Blue);
    }

    .cta {
        cursor: pointer;
        width: 100%;
        border: none;
        border-radius: .5rem;
        padding-block: 1rem;
        margin-top: 1.5rem;
        font-family: inherit;
        font-size: .8rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right, var(--Linear-Gradient));
        color: var(--Very-Light-Grayish-Blue);
        letter-spacing: 3px;
    }
    
    #slide1 {
        order: 1;
    }

    #slide3 .card {
        background-image: linear-gradient(to bottom, var(--Linear-Gradient));
        color: var(--Very-Light-Grayish-Blue);

        .price {
            color: var(--Very-Light-Grayish-Blue);
        }

        .cta {
            color: var(--Dark-Grayish-Blue);
            // background-color: var(--Very-Light-Grayish-Blue);
            background: var(--Very-Light-Grayish-Blue);
        }
    }

    @media (min-width: 1024px) {
        label {        
            border-radius: 1rem;
            position: absolute;
            /* width: 430px; */
            left: 0;
            right: 0;
            margin: auto;
            /* cursor: pointer; */
            transition: all .5s ease-in-out;
        }

        .card {
            margin-bottom: 0;
        }
    }

    /* @media (min-width: 1440px) {
        label {        
            border-radius: 1rem;
            position: absolute; */
            /* width: 430px; */
            /* left: 0;
            right: 0;
            margin: auto; */
            /* cursor: pointer; */
            /* transition: transform .5s ease-in-out; */
        /* } */

        /* .card {
            margin-bottom: 0;
        } */

        /* #s1:checked~.cards #slide1,
        #s2:checked~.cards #slide2,
        #s3:checked~.cards #slide3 {
            box-shadow: 0 25px 50px 0 rgba(0, 0, 0, .5);
            transform: translate3d(0, 0, 0);
        }

        #s3:checked~.cards #slide1,
        #s1:checked~.cards #slide2,
        #s2:checked~.cards #slide3 {
            box-shadow: 0 15px 35px 0 rgba(0, 0, 0, .3);
            transform: translate3d(90%, 0, -200px) rotateY(15deg);
        }

        #s3:checked~.cards #slide2,
        #s1:checked~.cards #slide3,
        #s2:checked~.cards #slide1 {
            box-shadow: 0 15px 35px 0 rgba(0, 0, 0, .3);
            transform: translate3d(-90%, 0, -200px) rotateY(-15deg);
        } */

        /* #slide1 .card { background-color: rgba(0, 255, 0, .2); }
        #slide2 .card { background-color: rgba(0, 0, 255, .2); }
        #slide3 .card { background-color: rgba(255, 0, 0, .2); } */
    /* }         */

</style>